@model LAP.Models.Instructor

<style>
    .navbar, footer {
        display: none;
    }
    body{

    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.2) -3px -2px 15px 0px, rgba(0, 0, 0, 0.22) -11px 20px 7px 0px;
        border-radius:30px;
    }
    img{
        border-top-left-radius:30px!important;
        border-top-right-radius: 30px!important;
    }
</style>

<div class="container">
    <div class="card fw-bold fs-4 " style="width: 20rem;">
        <img src="/Imgs/@Model.Image" class="card-img-top img-fluid  " alt="Instructor Image">
        <div class="card-body">
            <h5 class="card-title fw-bold">@Model.Name</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID:  @Model.Id</li>
            @if (User.IsInRole("Admin"))
            {
                
            <li class="list-group-item">Salary: @Model.salary</li>
            }
            <li class="list-group-item">Address: @Model.Address</li>
            <li class="list-group-item">Course Teaching : @ViewBag.courseName</li>

            <li class="list-group-item">Department Name: @Model.Department.Name</li>


        </ul>
        <div class="card-body">
            <a href="/Instructor/Index" class="card-link">Back To All Instructors</a>
        </div>
    </div>
</div>
